:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --first-header-text-color: #212121;
  --second-header-text-color: #757575;
  --accent-color: #2196f3;
  --first-footer-text-color: #ffffff;
  --second-footer-color: rgba(255, 255, 255, 0.6);
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-button-color: #212121;
  --second-button-color: #ffffff;
  --background-color: #2f303a;
  --our-team-background: #f5f4fa;
  --main-background-color: #ffffff;
  --base-svg-color: #afb1b8;
  --header-line-color: #ececec;
  --background-traits-logo: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------------HEDER------------------*/

/*--------------HERO------------------*/

/*---------------TRAITS-------------*/

/*---------------ABOUT-------------*/

/*---------------TEAM-------------*/

/*---------------REGULAR-COUSTOMERS-------------*/

/*---------------FOOTER-------------*/




/*-------------------------------------PORTFOLIO-MAIN-----------------------------*/



/*---------------------BACKDROP--------------*/

